flask
flask_wtf
email_validator
flask-sqlalchemy

# virtualenv:
# # py -3 -m venv flask
# # .\flask\Scripts\activate
# # pip install flask flask-login datetime flask-wtf wtforms email-validator flask-sqlalchemy flask-bcrypt
# # python run.py