{% extends "layout.html" %}
{% block content %}
<div class="content-section p-2">
    <legend class="border-bottom mb-4">About</legend>
    <div class="row">
        <div class="col-3 social-wrapper">
            <ul class="p-0">
                <li class="facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <div class="slider">
                        <p>facebook</p>
                    </div>
                </li>
                <li class="twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <div class="slider">
                        <p>twitter</p>
                    </div>
                </li>

                <li class="instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <div class="slider">
                        <p>instagram</p>
                    </div>
                </li>
                <li class="google">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    <div class="slider">
                        <p>google</p>
                    </div>
                </li>
                <li class="whatsapp">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <div class="slider">
                        <p>whatsapp</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-9 text-start my-2">
            Hi there! Write description here.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aliquam est in non a dignissimos eum
            repellendus unde itaque, doloribus enim deleniti distinctio fugiat nostrum, ipsam tenetur! Corporis iusto
            perferendis ducimus quibusdam facilis eos error? Reiciendis illo libero quam in delectus, ab debitis unde,
            ipsam quibusdam ut sapiente suscipit porro. Corrupti, autem! Vel consequuntur mollitia, maxime hic
            distinctio necessitatibus doloribus tempora alias. Consectetur, voluptatum, perspiciatis reprehenderit magni
            accusamus doloremque asperiores maxime quae mollitia voluptatem deleniti dolorum aperiam delectus vitae!
            Necessitatibus porro ex est, voluptate consequatur nam dolorum odit sapiente temporibus fuga, sed, voluptas
            tempora? Voluptatibus quis nobis cum similique beatae.
        </div>
    </div>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Wish to get in touch? <a class="ml-2" href="mailto:admin@ocpe.com">Contact us</a> now
    </small>
</div>
{% endblock content %}