{% extends "layout.html" %}
{% block content %}

<div class="card">
  <div class="card-header h5">Problem #</div>
  <div class="card-body">
    <div class="card-title">Problem Title</div>
    <div class="text-muted fst-italic mb-2">Part of contest #</div> <!-- Post categories-->
    <div class="card-text">
      <figure class="mb-4 text-center"><img class="img-fluid rounded"
          src="https://dummyimage.com/600x200/ced4da/6c757d.jpg" alt="..." /></figure> <!-- Post content/-->
      <p class="fs-6">Problem para 1: Science is an enterprise that should be cherished as an activity of the free
        human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in
        the universe. ...</p>
    </div>
    <button class="btn btn-secondary">Solve</button>
  </div>
</div>
{% endblock content %}