{% extends "layout.html" %}
{% block content %}
<div class="card">
  <div class="card-header h5">Contest #</div>
  <div class="card-body">
    <div class="card-title">Contest Title</div>
    <div class="text-muted fst-italic mb-2">XX Jan, 2022 20:00 - 22:00 IST</div>
    <!-- Post categories-->
    <div class="card-text">
      <figure class="mb-4 text-center">
        <img class="img-fluid rounded" src="https://dummyimage.com/600x200/ced4da/6c757d.jpg" alt="..." />
      </figure>
      <!-- Post content/-->
      <p class='fs-6'>Contest desc para 1: With supporting text below as a natural lead-in to
        additional content. ...</p>
    </div>
    <button class="btn btn-secondary">Participate</button>
  </div>
</div>
{% endblock content %}