{% extends "layout.html" %}
{% block content %}
  <!-- Post content-->
  <article>
    <!-- Post header-->
    <div class="mb-4">
      <!-- Post title-->
      <h1 class="fw-bolder mb-1">Question title</h1> <!-- Post meta content-->
      <div class="text-muted fst-italic mb-2">Part of contest #</div> <!-- Post categories-->
      <div class="badge bg-secondary">Linked list</div>
      <div class="badge bg-secondary">Queue</div>
    </div> <!-- Preview image figure-->

    <section class="mb-5">
      <p class="fs-6 mb-4">Problem para 1: Science is an enterprise that should be cherished as an activity of the
        free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place
        in the universe.</p>
      <p class="fs-6 mb-4">Problem para 2: The universe is large and old, and the ingredients for life as we know it
        are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the
        life became intelligent is a different question, and we'll see if we find that.</p>
      <p class="fs-6 mb-4">Problem para 3: If you get asteroids about a kilometer in size, those are large enough and
        carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be
        a really bad day on Earth.</p>
      <figure class="mb-4 text-center"><img class="img-fluid rounded"
          src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> <!-- Post content/-->
      <h2 class="fw-bolder mb-4 mt-5">Sample Inputs: </h2>
      <p class="fs-6 mb-4">Input #</p>
      <p class="fs-6 mb-4">Input #</p>
      <h2 class="fw-bolder mb-4 mt-5">Sample Outputs: </h2>
      <p class="fs-6 mb-4">Output #</p>
      <p class="fs-6 mb-4">Output #</p>
    </section>
  </article><!-- Comments section-->

{% endblock content %}